.cart .cart-prod {
    border: 1px solid black;
    background-color: white;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    padding-right: 10px;
}
.cart .cart-prod img{
    height: 80px;
    width: 80px;
}

.cart .cart-prod h4{
    flex: 5;
}

.cart .cart-prod label{
    flex: 1;
}
.cart {
    background-color: #F8F7F9;
}